<!DOCTYPE HTML>
<html>
	<head>
		<!--[if IE]>
	      	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	      <![endif]-->
	    <title>Shanid KV | AngularJS Dynamic Form Fields</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<!--<script type="text/javascript" src="js/script.js"></script>-->
<!--		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">-->
	</head>
	
	<body>

		<div class="container">

			<div class="row"  ng-app="shanidkvApp">

				<h3>AngularJS Dynamic Form Fields</h3>

				<hr/>

				<div ng-app="angularjs-starter" ng-controller="MainCtrl">
				   <fieldset  data-ng-repeat="choice in choices">
                                      Name: <input type="text" ng-model="choice.name" name="" placeholder="Enter name" />
				     
				     Mobile: <input type="text" ng-model="choice.mobile" name="" placeholder="Enter mobile number">
				      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
				   </fieldset>
				   <button class="addfields" ng-click="addNewChoice()">Add fields</button>
				       
                                   <textarea name="family_details" id="choicesDisplay" cols="30" rows="10">
                                       {{ choices }}
                                   </textarea>
                                   
<!--				   <div id="choicesDisplay">
				      {{ choices }}
				   </div>-->
				</div>
				
			</div>

		</div>
		
            <script type="text/javascript">
                
var app = angular.module('shanidkvApp', []);

  app.controller('MainCtrl', function($scope) {

  $scope.choices = [{id: 'choice1'}, {id: 'choice2'}];
  
  $scope.addNewChoice = function() {
    var newItemNo = $scope.choices.length+1;
    $scope.choices.push({'id':'choice'+newItemNo});
  };
    
  $scope.removeChoice = function() {
    var lastItem = $scope.choices.length-1;
    $scope.choices.splice(lastItem);
  };
  
});
            </script>

	</body>
</html>