/* css for Angular Loop  UI  */
fieldset{
    background: #e2e2e2;
    padding: 16px;
    border: 1px solid #D5D5D5;
    margin-bottom: 5px;
}
/*    .addfields{
        margin: 10px 0;
    }*/

#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #ff664c;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    top: 0;right: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}

.bs_padding_top{
    padding-top: 15px;
}

.bs_margin_bottom_5px{
    margin-bottom: 5px;
}
.bs_margin_bottom_10px{
    margin-bottom: 10px;
}
.bs_margin_bottom_15px{
    margin-bottom: 15px;
}
.bs_margin_bottom_20px{
    margin-bottom: 20px;
}
.bs_display_none{
    display: none;
}
.bs_width120px{
    width: 120px;
}
.bsDropdownPadding{
    padding: 1px 6px !important;
}
#ui-datepicker-div {
    z-index: 10000 !important;
}

.summary{
    font-size: 12px;
}
.table td span {
    color: #51ac18 !important;
}

.table-responsive {
    overflow-x: visible;/*bss*/
}



/*bss action dropdown menu*/
.bsDropDown i {
    color: #2f4b93;
}
.bsDropDown ul {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 375px;
    /*padding: 3px;*/
}
.bsDropDown ul li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*padding-right: 10px;*/
}
.bsDropDown ul li a{
    color:  #696969;
    /*border-bottom: 1px solid #d95459;*/
    font-size: 12px;
    padding: 4px 10px;
    width: 120px;
    text-align: center;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}


.bsDropDown ul li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2f4b93;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bsDropDown ul li a:hover:before, .bsDropDown ul li a:focus:before, .bsDropDown ul li a:active:before {
    left: 0;
    right: 0;
}

.bsPaddingTop15px{
   padding-top: 15px;
}
.bsGraphColborderRight{
   border-right: 1px solid #eeeeee;
}
.bsGraphRowborderTop{
    /*border-top: 1px solid #e2e2e2;*/
        border-top: 1px solid #eeeeee;
}
.bsBorder{
    border: 1px solid;
}